<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "세무법인 낭만 CMS 관리시스템",
    url: "../../"
}) %>

<!-- 레이아웃 START -->
<div class="lytLayout">
    <div class="layoutArea">
        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../",
            }) %>
        </div>
        <!-- //상단영역 -->
        <!--중단 영역-->
        <div class="layoutContainer">
            <div class="layoutSubCont">
                <div class="subContArea">
                    
                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/nav.ejs', {
                            depth1:3,
                            // depth2:1,
                            url: "../../",
                        }) %>
                    </div>

                    <!--컨텐츠영역-->
                    <div class="layoutCont">

                        <%- include('../ejs/subTitle.ejs', {
                            url: "../../",
                        }) %>
                        
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <!--컨텐츠 START-->
                        <div class="contCov">
                            <div class="cptTable">
                                <table class="tbData">
                                    <colgroup>
                                        <col style="width:100px;">
                                        <col style="width:auto;">
                                        <col style="width:350px;">
                                        <col style="width:250px;">
                                        <col style="width:250px;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>프로필 이미지</th>
                                            <th>제목</th>
                                            <th>등록자</th>
                                            <th>등록일시</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <a href="javascript:void(0)" class="thumb">
                                                    <img src="../../common/images/temp/height.jpg" alt="">
                                                </a>
                                            </td>
                                            <td>기업문화 제목 1</td>
                                            <td>최고관리자</td>
                                            <td>2025-02-11 15:30:24</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <a href="javascript:void(0)" class="thumb">
                                                    <img src="../../common/images/temp/width.jpg" alt="">
                                                </a>
                                            </td>
                                            <td>기업문화 제목 2</td>
                                            <td>최고관리자</td>
                                            <td>2025-02-11 15:30:24</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="cptPaging">
                                <a href="javascript:void(0)" class="prevPage"><img src="../../common/images/common/ico_pagArrLeft.svg" alt="왼쪽 방향 아이콘"></a>
                                <div>
                                    <ul>
                                        <li class="active"><a href="javascript:void(0)">1</a></li>
                                        <li><a href="javascript:void(0)">2</a></li>
                                        <li><a href="javascript:void(0)">3</a></li>
                                        <li><a href="javascript:void(0)">4</a></li>
                                        <li><a href="javascript:void(0)">5</a></li>
                                    </ul>
                                </div>
                                <a href="javascript:void(0)" class="nextPage"><img src="../../common/images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘"></a>
                            </div>
                        </div>
                        <!--컨텐츠 END-->

                    </div>
                </div>
            </div>
        </div>
        <!-- //중단 영역-->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->
    </div>
</div>
<!-- //레이아웃 END -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>