.cptHeader {
    position:relative; width:100%; padding: 20px 40px; border-bottom:1px solid var(--lbg2); background-color: var(--bg3);

    .inner {
        display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;

        > .logoArea {
            
            > a {
                display:inline-block; 

                > img {
                    width:150px;
                }
            }
        }

        > .accOptArea {
            > ul {
                display:flex; flex-flow :row nowrap; align-items: center; justify-content: flex-start;

                > li {
                    position:relative;

                    &:first-of-type {
                        font-size:14px; font-weight:500; line-height:1; color:var(--t1); letter-spacing:-0.23px; margin-right:20px;

                        > span {
                            font-weight:bold; font-size:16px;
                        }
                    }

                    > a {
                        display:inline-block; font-size:14px; font-weight:500; line-height:1; color:var(--t1); letter-spacing:-0.23px; border:1px solid var(--t1); border-radius:8px; line-height:35px; height:35px; padding: 0 20px;
                    }
                }
            }
        }
    }
}