.cptNav {
    position:relative; width:240px; padding:40px; height:calc(100vh - 116px); background:var(--bg4); box-shadow:5px 0 9px 0 rgba(0,0,0,0.4);

    > .inner {
        width:100%;

        > ul {
            display:flex; flex-flow:column; align-items: flex-start; justify-content: flex-start; gap:36px;

            > li {
                position:relative; width:100%;

                > a {
                    display:block; width:max-content; font-size:20px; color:var(--bg3); font-weight:400; line-height:1; letter-spacing:-0.38px; opacity:0.8;
                }

                &.active {
                    > a {
                        color:var(--prm2); opacity:1;
                    }
                }

                &:hover {
                    > a {
                        color:var(--prm2);  opacity:1;
                    }
                }

                > .depth02Cov {
                    padding: 10px; transition:all 0.4s; margin-top:10px;

                    > ul {
                        display:flex; flex-flow: column; align-items: flex-start; justify-content: flex-start; gap:18px;

                        > li {
                            position:relative;

                            > a {
                                position:relative; display:block; width:max-content; font-size:18px; font-weight:400; color:var(--bg3); line-height:1; letter-spacing:-0.23px; padding-left:11px; opacity:0.8;

                                &::after {
                                    content:''; position:absolute; top:50%; left:0; width:3px; height:3px; background:var(--bg3); border-radius:50%;
                                }
                            }

                            &:hover {
                                > a {
                                    color:var(--prm2); opacity:1;
                                    &::after {
                                        background:var(--prm2); opacity:1;
                                    }
                                }
                            }

                            &.active {
                                > a {
                                    color:var(--prm2); opacity:1;
                                    &::after {
                                        background:var(--prm2); opacity:1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.cptSubTitle {
    width:100%;

    .inner {
        position:relative;

        > .topArea {
            width:100%; position:relative; margin-bottom:10px;

            > p.pageTitle {
                font-size:32px; font-weight:500; line-height:1.4; letter-spacing:-0.38px; color:var(--t1); 
            }
        }
    }
}

.cptSubTop {
    width:100%; margin-top:20px;

    .inner {
        position:relative;

        > .botArea {
            width:100%; position:relative; display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;

            .searchLeft {

                select {
                    width:150px;
                }

                
            }
        }
    }
}