<%
    var url = locals.url ? locals.url : '../';
%>

<div class="cptHeader">
    <div class="inner">
        <div class="logoArea">
            <a href="javascript:void(0)">
                로고영역 temporary
            </a>
        </div>
        <div class="accOptArea">
            <ul>
                <li>
                    <span class="loginNm">홍길동</span>님 반갑습니다.
                </li>
                <li><a href="javascript:void(0)">로그아웃</a></li>
            </ul>
        </div>
    </div>
</div>