<%
var url = locals.url ? locals.url : '../../';
%>
<div class="cptSubTop">
    <div class="inner"> 
        <div class="botArea">
            <div class="searchLeft">
                <div class="cptForm">
                    <div class="frmGroup alignL gap">
                        <div class="slt">
                            <select name="" id="">
                                <option value="">메뉴명</option>
                                <option value="">상위 메뉴명</option>
                            </select>
                        </div>
                        <div class="frmGroup alignL">
                            <div class="ipt srch">
                                <input type="text">
                            </div>
                            <div class="comButton">
                                <button type="button" class="btn srch">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searchRight">
                <div class="comButton">
                    <button type="button" class="btn ins">등록</button>
                </div>
            </div>
        </div>
    </div>
</div>
