<%
var url = locals.url ? locals.url : '../../';
%>

<div class="cptSubTitle">
    <div class="inner">
        <div class="topArea">
            <p class="pageTitle">
                ${PAGE_NM}
            </p>
        </div>
    </div>
</div>
